<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/common-base.css}">

    

</head>
<body>
<div th:fragment="header(title, activeTab)">
    <div class="top-bar">
        <div class="user-info">
			<span>(이름)</span>
            <span>MediCare |</span>
            <span th:text="${userId}">사용자ID: </span>
        </div>
        <div class="user-info">
            <span th:text="${userName}"></span>
            <button type="button" class="btn-logout" data-action="logout">로그아웃</button>
        </div>
        <div class="action-buttons">
            <button class="time-in" data-action="time-in">출근</button>
            <button class="time-out" data-action="time-out">퇴근</button>
        </div>
    </div>

    <nav class="nav-tabs">
        <ul class="tab-list">
            <li class="tab-item" th:classappend="${activeTab}=='todayVisits' ? ' active'">
                <a th:href="@{/doctor/todayVisits}">금일 진료 리스트</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='allVisits' ? ' active'">
                <a th:href="@{/doctor/allVisits}">전체 진료 리스트</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='applyVacation' ? ' active'">
                <a th:href="@{/doctor/applyVacation}">휴가 신청</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='mySchedule' ? ' active'">
                <a th:href="@{/doctor/mySchedule}">스케줄 조회</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='doctorMyPage' ? ' active'">
                <a th:href="@{/doctor/verifyPassword}">마이페이지</a>
            </li>
        </ul>
    </nav>

    <div class="sub-menu" th:text="${title}">서브메뉴</div>
    <script th:src="@{/js/header-actions.js}" defer></script>
</div>
</body>
</html>
