<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/common-base.css}">

    

</head>
<body>
<div th:fragment="header(title, activeTab)">
    <div class="top-bar">
        <div class="user-info">
			<span>(이름) |</span>
            <span>MediCare |</span>
            <span th:text="${userId}">사용자ID: </span>
        </div>
        <div class="user-info">
            <span th:text="${userName}">업무 상태</span>
            <button type="button" class="btn-logout" data-action="logout">로그아웃</button>
        </div>
        <div class="action-buttons">
            <button class="time-in" data-action="time-in">출근</button>
            <button class="time-out" data-action="time-out">퇴근</button>
        </div>
    </div>

    <nav class="nav-tabs">
        <ul class="tab-list">
            <li class="tab-item" th:classappend="${activeTab}=='vacationList' ? ' active'">
                <a th:href="@{/hr/vacationList}">휴가 신청 리스트</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='scheduleAssignment' ? ' active'">
                <a th:href="@{/hr/scheduleAssignment}">스케줄 부여</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='allSchedule' ? ' active'">
                <a th:href="@{/hr/allSchedule}">직원 스케줄 조회</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='allWork' ? ' active'">
                <a th:href="@{/hr/allWork}">근태 현황</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='employee' ? ' active'">
                <a th:href="@{/hr/employee}">직원 리스트</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='hrSchedule' ? ' active'">
                <a th:href="@{/hr/mySchedule}">스케줄 조회</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='hrMyPage' ? ' active'">
                <a th:href="@{/hr/verifyPassword}">마이페이지</a>
            </li>
        </ul>
    </nav>

    <div class="sub-menu" th:text="${title}">서브메뉴</div>
    <script th:src="@{/js/header-actions.js}" defer></script>
</div>
</body>
</html>
