<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/common-base.css}">

</head>
<body>
<div th:fragment="header(title, activeTab)">
    <div class="top-bar">
        <div class="user-info">
			<span>(이름)</span>
            <span>MediCare |</span>
            <span th:text="${userId}">사용자ID: </span>
        </div>
        <div class="user-info">
            <span th:text="${userName}"></span>
            <button type="button" class="btn-logout" onclick="logoutCheck()">로그아웃</button>
        </div>
        <div class="action-buttons">
            <button class="time-in">출근</button>
            <button class="time-out">퇴근</button>
        </div>
    </div>

    <nav class="nav-tabs">
        <ul class="tab-list">
            <li class="tab-item" th:classappend="${activeTab}=='patients' ? ' active'">
                <a th:href="@{/patients}">환자 등록/조회</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='receptions' ? ' active'">
                <a th:href="@{/receptions}">접수</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='reservations' ? ' active'">
                <a th:href="@{/reservations}">예약 받기</a>
            </li>
            <li class="tab-item" th:classappend="${activeTab}=='payments' ? ' active'">
                <a th:href="@{/payments}">수납</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='staffItem' ? ' active'">
                <a th:href="@{/staff/staffItem}">전체 재고 현황</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='logisOutbound' ? ' active'">
                <a th:href="@{/staff/staffOutbound}">출고 리스트</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='staffSchedule' ? ' active'">
                <a th:href="@{/staff/mySchedule}">스케줄 조회</a>
            </li>
			<li class="tab-item" th:classappend="${activeTab}=='staffMyPage' ? ' active'">
                <a th:href="@{/staff/verifyPassword}">마이페이지</a>
            </li>
        </ul>
    </nav>

    <div class="sub-menu" th:text="${title}">서브메뉴</div>
</div>
</body>
</html>
